services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8010:8000"
    env_file:
      - .env
    depends_on:
      - redis

  worker:
    build: .
    command: celery -A app.celery_app.celery_app worker -l info
    env_file:
      - .env
    depends_on:
      - redis

  beat:
    build: .
    command: celery -A app.celery_app.celery_app beat -l info
    env_file:
      - .env
    depends_on:
      - redis
